.vscode
.git
bash/*/.exercism
bash/*/*.bash
bash/*/*.bats
cpp/*/test
cpp/*/.exercism
cpp/*/CMakeLists.txt
cpp/*/HELP.md
javascript/*/.exercism
javascript/*/*.*.js
javascript/*/HELP.md
javascript/*/LICENSE
javascript/*/*.json
javascript/*/.eslintrc
javascript/*/.gitignore
javascript/*/.npmrc
python/*/__pycache__
python/*/.exercism
python/*/.pytest_cache
python/*/HELP.md
powershell/*/.exercism
powershell/*/HELP.md
