bash/*/*.bash
bash/*/*.bats
bash/*/.exercism
cpp/*/test
cpp/*/CMakeLists.txt
javascript/*/.exercism
javascript/*/*.*.js
javascript/*/LICENSE
javascript/*/.eslintrc
javascript/*/.gitignore
javascript/*/.npmrc
javascript/*/*.json
javascript/*/HELP.md
